/**
 * Themes
 */

/* Imports */

@use "../config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

#ht .ht {
  .t-text-light {
    --ht-outline-c: #{func.get-color("background-base")};

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    a,
    p {
      @extend %u-color-background-base;
    }
  }
}

.t-primary-base {
  @extend %u-color-primary-base;
}

.t-background-base {
  @extend %u-color-background-base;
}

.t-foreground-base {
  @extend %u-color-foreground-base;
}

.t-bg-background-base {
  @extend %u-background-color-background-base;
}

.t-bg-background-dark {
  @extend %u-background-color-background-dark;
}

.t-bg-foreground-base {
  @extend %u-background-color-foreground-base;
}

.t-ov-background-dark {
	--ht-overlap-bg: #{func.get-color("background-dark")};
}

.t-bg-inherit {
  background-color: inherit;
}
