/**
 * Overrides
 */

/* Imports */

@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Skip link */

#ht .ht .skip-link {
  @extend %u-font-weight-extrabold;

  border-radius: func.calc-rem(100px);
  margin: func.calc-rem(8px);
  box-shadow: none;
}

/* Text widget */

.textwidget > * {
  margin-bottom: func.calc-rem(15px);

  &:last-child {
    margin-bottom: 0;
  }
}

/* Admin bar height */

.admin-bar .c-nav.fusion-flex-container.fusion-builder-row-1 {
  margin-top: var(--adminbar-height);
}

/* Swoop */

.ht-swoop {
  color: var(--ht-hero-bg-c);
}

/* Hero */

.fusion-page-title-bar {
  @extend %u-position-relative;

  color: var(--ht-hero-c);
  padding-top: var(--ht-nav-h);
}

.fusion-page-title-bar .ht-swoop {
  display: none;
}

@supports (object-position: 50% 50%) {
  .fusion-page-title-bar .ht-swoop {
    display: block;
  }
}

#ht .ht .c-hero,
#ht .ht .c-hero div {
  position: static;
}

/* Column */

.fusion-column-wrapper {
  .ht-single & {
    @extend %u-position-relative;
  }

  #ht .ht .c-hero & {
    min-height: auto;
  }
}

.fusion-title.title {
  margin-bottom: 0 !important;
}

/* Button */

#ht .ht {
  a::after,
  a::before {
    color: inherit;
  }

  .fusion-button {
    @extend %u-font-weight-extrabold;
    @extend %u-position-relative;

    line-height: 1.3;

    .fusion-button-text {
      @extend %u-position-relative;
      @extend %u-display-block;
      @extend %u-transition-transform-ease;

      color: inherit;
      transform: scale(1) translateZ(0);
    }

    &.button-medium {
      font-size: func.calc-rem(18px);
      padding: func.calc-rem(14px) func.calc-rem(24px);
    }

    &.button-outline {
      color: inherit;
      background-color: transparent;
      border: func.calc-rem(2px) solid currentcolor;
      padding: func.calc-rem(12px) func.calc-rem(22px); // Fill 14px 24px
    }

    &.button-small {
      @extend %u-font-weight-bold;

      font-size: func.calc-rem(16px);
      padding: func.calc-rem(8px) func.calc-rem(18px);

      &.button-outline {
        padding: func.calc-rem(6px) func.calc-rem(16px);
      }
    }

    &.button-large {
      font-size: func.calc-rem(24px);
    }

    &.button-xlarge {
      font-size: func.calc-rem(28px);
    }

    &.button-large,
    &.button-xlarge {
      padding: func.calc-rem(16px) func.calc-rem(26px);

      &.button-outline {
        padding: func.calc-rem(14px) func.calc-rem(24px);
      }
    }

    &::before {
      @extend %u-content-empty;
      @extend %u-position-absolute;
      @extend %u-top-0;
      @extend %u-right-0;
      @extend %u-left-0;
      @extend %u-bottom-0;
      @extend %u-opacity-0;
      @extend %u-transition-opacity-ease;

      background-color: currentcolor;
      border-radius: inherit;
      mix-blend-mode: hard-light;
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        opacity: 0.2;
      }

      .fusion-button-text {
        transform: scale(1.045) translateZ(0);
      }
    }
  }

  .t-text-light .fusion-button {
    @extend %u-background-color-background-base;
    @extend %u-color-foreground-base;

    &.button-outline {
      @extend %u-color-background-base;

      background-color: transparent;
    }
  }

  .fusion-sharing-box {
    min-height: auto;
  }

  .fusion-social-networks a {
    @extend %u-position-relative;
    @extend %u-border-radius-100;

    background-color: rgba(func.get-color("primary-base"), 0.2);
    transition: color 400ms ease, background-color 400ms ease;
    color: inherit;
    border: 0;
    padding: 0.8rem;
    font-size: 1.5rem;
    line-height: 1;

    &::before {
      @extend %u-opacity-1;
    }

    i {
      @extend %u-opacity-1;

      font-size: inherit;

      &::before {
        transition: color 400ms ease;
      }
    }

    &:hover,
    &:focus,
    &:active {
      @extend %u-background-color-primary-base;

      &,
      i::before {
        @extend %u-color-background-base;
      }
    }
  }

  .t-text-light .fusion-social-networks a {
    background-color: rgba(func.get-color("background-base"), 0.2);

    &:hover,
    &:focus,
    &:active {
      @extend %u-background-color-primary-base;
    }
  }
}

/* Text */

.fusion-text:empty {
  @extend %u-display-none;
}

/* Content */

#ht .ht #content {
  margin-bottom: 0;
}

/* Footer */

#ht .ht footer .fusion-row {
  z-index: 1;
}

.fusion-footer {
  @extend %u-position-relative;

  z-index: 11;
}

/* Socials */

.ht .fusion-social-networks {
  overflow: visible;
}

/* Aspect ratio */

.o-aspect-ratio {
  &[data-type="overlap"] {
    &::before {
      padding-top: var(--ht-overlap-p);
    }
  }
}

.o-aspect-ratio__media {
  @extend %u-transition-opacity-transform-ease;

  &:not([data-bg="false"]) {
    background-color: rgba(func.get-color("foreground-base"), 0.1);
  }

  transition-duration: 600ms;
  transform: scale(1);

  .o-aspect-ratio[data-scale="slow"] & {
    transition-duration: 1000ms;
  }

  [data-hover]:hover .o-aspect-ratio[data-hover="scale"] & {
    transform: scale(1.03);
  }
}

/* Single content */

.ht-single__main {
  --ht-underline-w: #{func.calc-rem(1.5px)};

  ul,
  ol {
    margin-left: 6%;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  .post-content & {
    blockquote {
      margin: 0 0 0 5%;
      padding: 0 0 0 5%;
    }

    p,
    ul,
    blockquote {
      margin-bottom: func.calc-rem(30px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  li {
    padding-left: 1.5%;
    margin-bottom: func.calc-rem(10px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ht-single {
  --ht-single-m: #{func.calc-rem(-40px)};
  --ht-single-p: #{func.calc-rem(40px)};

  #ht .ht #wrapper & .ht-single__main {
    margin: var(--ht-single-m) 0 0 calc(0.375 * var(--ht-single-m));
  }

  .fusion-builder-row {
    > * {
      padding: var(--ht-single-p) 0 0 calc(0.375 * var(--ht-single-p));
    }
  }

  .fusion-content-layout-column > * {
    margin-bottom: var(--ht-single-p);

    > *:last-child,
    &:last-child {
      margin-bottom: 0;
    }
  }

  @include mix.breakpoint-min(1000) {
    --ht-single-m: #{func.calc-rem(-60px)};
    --ht-single-p: #{func.calc-rem(60px)};
  }
}

/* Table */

#ht .ht table {
  background: rgba(func.get-color("foreground-base"), 0.14);

  &,
  tr td,
  th {
    border: 0;
  }

  th,
  tr:nth-child(2n) {
    @extend %u-background-color-background-dark;
  }
}

/* Recaptcha */

.grecaptcha-badge {
  @extend %u-visibility-hidden;
}
