/**
 * Effects - Accent Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.e-accent,
.e-accent-r {
  --accent-svg: url("../../svg/underline-thick-primary-light.svg");
  --accent-padding: #{util.calc-rem(12px)};
  --accent-height: #{util.calc-rem(12px)};
  --accent-opacity: 1;

  &[data-theme="primary-base"] {
    --accent-svg: url("../../svg/underline-thick-primary-base.svg");
  }
}

.e-accent-r {
  --accent-opacity: 0;
}

.e-accent-m {
  @include util.breakpoint-batch-add("m", (
    --accent-height: var(--ht-3xs),
  ));
}

.e-accent-l {
  --accent-padding: #{util.calc-rem(9px)};

  @include util.breakpoint-batch-add("m", (
    --accent-padding: var(--ht-3xs),
    --accent-height: var(--ht-2xs),
  ));
}

.e-accent span,
.e-accent a,
.e-accent-r span,
.e-accent-r a,
.e-accent__d,
.e-accent__f {
  padding-bottom: var(--accent-padding);
}

.e-accent span,
.e-accent a,
.e-accent-r span,
.e-accent-r a {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity var(--ht-duration) ease;
    background: var(--accent-svg) no-repeat;
    background-size: 100% 100%;
    height: var(--accent-height);
    opacity: var(--accent-opacity);
    z-index: -1;
  }
}

a.e-accent:hover,
a.e-accent:active,
a.e-accent:focus,
.e-accent a:hover,
.e-accent a:active,
.e-accent a:focus {
  --accent-opacity: 0;
}

a.e-accent-r:hover,
a.e-accent-r:active,
.e-accent-r a:hover,
.e-accent-r a:active {
  --accent-opacity: 1;
}
