/**
 * Objects - Dot Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.o-dots {
  max-width: 100vw;
}

.o-dot {
  span {
    width: util.calc-rem(12px);
    height: util.calc-rem(12px);
    background: currentcolor;
    opacity: 0.3;
    transition: opacity 200ms ease, transform 200ms ease;
  }

  [role="tab"][aria-selected="true"] span {
    color: var(--ht-primary-base);
    opacity: 1;
    transform: scale(1.33);
  }
}
