/**
 * Text - Rich Text Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.ht-rich-text {
  --ht-underline-width: #{util.calc-rem(1.5px)};
  --margin: var(--ht-xs);

  ul,
  ol {
    margin-left: 6%;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    margin: 0 0 0 5%;
    padding: 0 0 0 5%;
  }

  hr {
    border: 0;
    border-top: util.calc-rem(1px) solid var(--ht-foreground-fade);
    margin: var(--ht-s) 0;

    &:first-child {
      margin: 0 0 var(--ht-m) 0;
    }
  }

  li {
    --margin: var(--ht-4xs);

    padding-left: 1.5%;
    letter-spacing: 0.01em;
    margin-top: var(--ht-4xs);
    font-size: var(--ht-h5);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: var(--ht-3xs);

    &:first-child {
      padding-top: 0;
    }
  }

  p,
  ul,
  ol,
  li,
  blockquote,
  .fusion-text > div {
    margin-bottom: var(--margin);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
