/**
 * Components - Footer Styles
 */

#ht .ht footer .fusion-row {
  z-index: 1;
}

.fusion-footer {
  position: relative;
  z-index: 11;
}

.textwidget > * {
  margin-bottom: var(--ht-3xs);

  &:last-child {
    margin-bottom: 0;
  }
}
