/**
 * Objects - Collapsible Styles
 */

/* Imports */

@forward "../../Config/Config";
@use "@alanizcreative/formation/lib/objects/Collapsible/Collapsible";

/* Styles */

.o-collapsible {
  --icon-margin: var(--ht-2xs);

  &[data-size="s"] {
    --icon-margin: var(--ht-4xs);
  }

  #ht .ht &:first-child {
    border-top: 0;
    padding-top: 0;
  }

  #ht .ht &:last-of-type {
    padding-bottom: 0;
  }
}

.o-collapsible__toggle {
  --plus-display: none;
  --minus-display: none;

  text-align: left;

  &[aria-expanded="true"] {
    --minus-display: block;
  }

  &[aria-expanded="false"] {
    --plus-display: block;
  }
}

.o-collapsible__icon {
  margin-right: var(--icon-margin);
  width: var(--ht-2xs);
}

.o-collapsible__plus {
  display: var(--plus-display);
}

.o-collapsible__minus {
  display: var(--minus-display);
}
