/**
 * Objects - Tabs Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

@keyframes e-fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes e-fade-out {
  0% {
    display: block;
    opacity: 1;
  }

  99% {
    display: block;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.o-tabs {
  #ht .ht #main & [role="tab"][aria-selected="true"] {
    --ht-outline-offset: #{util.calc-rem(-10px)};
    --ht-outline-color: var(--ht-background-base);

    background-color: var(--ht-primary-base);
    border-color: var(--ht-primary-base);
    color: var(--ht-background-base);

    &::before {
      opacity: 0;
    }
  }

  [role="tablist"]::before {
    height: 75%;
    border-bottom: var(--ht-border-width) solid var(--ht-foreground-fade);
  }

  [role="tabpanel"][data-selected="true"] {
    animation: e-fade-in 400ms ease-in-out forwards;
  }

  [role="tabpanel"][data-selected="false"] {
    animation: e-fade-out 400ms ease-in-out forwards;
  }
}
