/**
 * Layouts: flexbox
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

#ht .ht {
  .l-flex {
    /* Row */

    @include mix.breakpoint-min(600) {
      &[data-row="s"] {
        flex-direction: row;
      }
    }

    @include mix.breakpoint-min(800) {
      &[data-row="m"] {
        flex-direction: row;
      }
    }

    /* Wrap */

    @include mix.breakpoint-min(600) {
      &[data-wrap-s] {
        flex-wrap: wrap;
      }
    }

    @include mix.breakpoint-min(800) {
      &[data-wrap-m] {
        flex-wrap: wrap;
      }
    }

    /* Align */

    @include mix.breakpoint-min(800) {
      &[data-align-m="start"] {
        align-items: flex-start;
      }
    }

    /* Gap */

    &[data-gap="xs"] {
      $v: 12px;

      --ht-flex-gap: #{func.calc-rem($v)};

      margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

      & > * {
        padding: func.calc-rem($v) 0 0 func.calc-rem($v);
      }
    }

    &[data-gap="s"] {
      $v: 20px;

      --ht-flex-gap: #{func.calc-rem($v)};

      margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

      & > * {
        padding: func.calc-rem($v) 0 0 func.calc-rem($v);
      }
    }

    &[data-gap="r"] {
      $v: 40px;

      --ht-flex-gap: #{func.calc-rem($v)};

      margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

      & > * {
        padding: func.calc-rem($v) 0 0 func.calc-rem($v);
      }
    }

    &[data-gap="m"] {
      $v: 60px;

      --ht-flex-gap: #{func.calc-rem($v)};

      margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

      & > * {
        padding: func.calc-rem($v) 0 0 func.calc-rem($v);
      }
    }

    &[data-gap="l"] {
      $v: 80px;

      --ht-flex-gap: #{func.calc-rem($v)};

      margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

      & > * {
        padding: func.calc-rem($v) 0 0 func.calc-rem($v);
      }
    }

    @include mix.breakpoint-min(1000) {
      &[data-gap-l="s"] {
        $v: 20px;

        --ht-flex-gap: #{func.calc-rem($v)};

        margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

        & > * {
          padding: func.calc-rem($v) 0 0 func.calc-rem($v);
        }
      }

      &[data-gap-l="r"] {
        $v: 40px;

        --ht-flex-gap: #{func.calc-rem($v)};

        margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

        & > * {
          padding: func.calc-rem($v) 0 0 func.calc-rem($v);
        }
      }

      &[data-gap-l="m"] {
        $v: 60px;

        --ht-flex-gap: #{func.calc-rem($v)};

        margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

        & > * {
          padding: func.calc-rem($v) 0 0 func.calc-rem($v);
        }
      }

      &[data-gap-l="l"] {
        $v: 80px;

        --ht-flex-gap: #{func.calc-rem($v)};

        margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

        & > * {
          padding: func.calc-rem($v) 0 0 func.calc-rem($v);
        }
      }

      &[data-gap-l="xl"] {
        $v: 160px;

        --ht-flex-gap: #{func.calc-rem($v)};

        margin: func.calc-rem($v * -1) 0 0 func.calc-rem($v * -1);

        & > * {
          padding: func.calc-rem($v) 0 0 func.calc-rem($v);
        }
      }
    }
  }
}
