/**
 * Layouts: flexbox
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

#ht .ht {
  .l-flex {
    /* Row */

    @include mix.breakpoint-min(600) {
      &[data-row="s"] {
        flex-direction: row;
      }
    }

    @include mix.breakpoint-min(800) {
      &[data-row="m"] {
        flex-direction: row;
      }
    }

    /* Wrap */

    @include mix.breakpoint-min(600) {
      &[data-wrap-s] {
        flex-wrap: wrap;
      }
    }

    @include mix.breakpoint-min(800) {
      &[data-wrap-m] {
        flex-wrap: wrap;
      }
    }

    /* Align */

    @include mix.breakpoint-min(800) {
      &[data-align-m="start"] {
        align-items: flex-start;
      }
    }

    /* Gap */

    &[data-gap=""] {
      --ht-flex-gap: #{func.calc-rem(1px)};
    }

    &[data-gap="xs"] {
      --ht-flex-gap: #{func.calc-rem(12px)};
    }

    &[data-gap="s"] {
      --ht-flex-gap: #{func.calc-rem(20px)};
    }

    &[data-gap="r"] {
      --ht-flex-gap: #{func.calc-rem(40px)};
    }

    &[data-gap="m"] {
      --ht-flex-gap: #{func.calc-rem(60px)};
    }

    &[data-gap="l"] {
      --ht-flex-gap: #{func.calc-rem(80px)};
    }

    &[data-gap] {
      margin: calc(var(--ht-flex-gap) * -1) 0 0 calc(var(--ht-flex-gap) * -1);

      & > * {
        padding: var(--ht-flex-gap) 0 0 var(--ht-flex-gap);
      }
    }

    @include mix.breakpoint-min(1000) {
      &[data-gap-l="s"] {
        --ht-flex-gap: #{func.calc-rem(20px)};
      }

      &[data-gap-l="r"] {
        --ht-flex-gap: #{func.calc-rem(40px)};
      }

      &[data-gap-l="m"] {
        --ht-flex-gap: #{func.calc-rem(60px)};
      }

      &[data-gap-l="l"] {
        --ht-flex-gap: #{func.calc-rem(80px)};
      }

      &[data-gap-l="xl"] {
        --ht-flex-gap: #{func.calc-rem(160px)};
      }
    }
  }
}
