/**
 * Layouts: margin
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

#ht .ht {
  /* Margin */

  .l-m-0 {
    margin: 0;
  }

  .l-m-0-all * {
    margin: 0;
  }

  .l-mb-0-all * {
    margin-bottom: 0;
  }

  .l-m-auto {
    margin: auto;
  }

	.l-ml-auto {
		margin-left: auto;
	}

	.l-mr-auto {
		margin-right: auto;
	}

  .l-mb-auto {
    margin-bottom: auto;
  }

  .l-mt-auto {
    margin-top: auto;
  }

  /* Margin right */

  .l-mr-xxs {
    margin-right: func.calc-rem(5px);
  }

  /* Margin bottom */

  .l-mb-xxs {
    margin-bottom: func.calc-rem(5px);
  }

  .l-mb-xs {
    margin-bottom: func.calc-rem(10px);
  }

  .l-mb-s,
  .l-mb-s-all > * {
    margin-bottom: func.calc-rem(15px);
  }

  .l-mb-r,
  .l-mb-r-all > * {
    margin-bottom: func.calc-rem(20px);
  }

  .l-mb-m,
  .l-mb-m-all > * {
    margin-bottom: func.calc-rem(25px);
  }

  .l-mb-l,
  .l-mb-l-all > * {
    margin-bottom: func.calc-rem(40px);
  }

  .l-mb-xl {
    margin-bottom: func.calc-rem(60px);
  }

  .l-mb-s-all,
  .l-mb-r-all,
  .l-mb-m-all,
  .l-mb-l-all {
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.l-m-full {
  margin-right: -50vw;
  margin-left: -50vw;
}
