/**
 * Layouts: padding
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

#ht .ht {
  /* Padding */

  .l-p-0 {
    padding: 0;
  }

  /* Padding top */

  .l-pt-xxxs {
    padding-top: func.calc-rem(20px);
  }

	.l-pt-xxs {
    padding-top: func.calc-rem(30px);
  }

  .l-pt-xs {
    padding-top: func.calc-rem(40px);
  }

  .l-pt-s {
    padding-top: func.calc-rem(60px);
  }

  .l-pt-r {
    padding-top: func.calc-rem(80px);
  }

  .l-pt-m {
    padding-top: func.calc-rem(100px);
  }

  .l-pt-l {
    padding-top: func.calc-rem(120px);
  }

  .l-pt-xl {
    padding-top: func.calc-rem(160px);
  }

  .l-pt-xxl {
    padding-top: func.calc-rem(180px);
  }

  /* Padding bottom */

  .l-pb-xxxs {
    padding-bottom: func.calc-rem(20px);
  }

	.l-pb-xxs {
    padding-bottom: func.calc-rem(30px);
  }

  .l-pb-xs {
    padding-bottom: func.calc-rem(40px);
  }

  .l-pb-s {
    padding-bottom: func.calc-rem(60px);
  }

  .l-pb-r {
    padding-bottom: func.calc-rem(80px);
  }

  .l-pb-m {
    padding-bottom: func.calc-rem(100px);
  }

  .l-pb-l {
    padding-bottom: func.calc-rem(120px);
  }

  .l-pb-xl {
    padding-bottom: func.calc-rem(160px);
  }

  .l-pb-xxl {
    padding-bottom: func.calc-rem(180px);
  }

  /* Padding 1000px breakpoint */

  @include mix.breakpoint-min(1000) {
    .l-pt-xs-l {
      padding-top: func.calc-rem(40px);
    }

    .l-pt-s-l {
      padding-top: func.calc-rem(60px);
    }

    .l-pt-r-l {
      padding-top: func.calc-rem(80px);
    }

    .l-pt-m-l {
      padding-top: func.calc-rem(100px);
    }

    .l-pt-l-l {
      padding-top: func.calc-rem(120px);
    }

    .l-pt-xl-l {
      padding-top: func.calc-rem(160px);
    }

    .l-pt-xxl-l {
      padding-top: func.calc-rem(180px);
    }

    .l-pb-xs-l {
      padding-bottom: func.calc-rem(40px);
    }

    .l-pb-s-l {
      padding-bottom: func.calc-rem(60px);
    }

    .l-pb-r-l {
      padding-bottom: func.calc-rem(80px);
    }

    .l-pb-m-l {
      padding-bottom: func.calc-rem(100px);
    }

    .l-pb-l-l {
      padding-bottom: func.calc-rem(120px);
    }

    .l-pb-xl-l {
      padding-bottom: func.calc-rem(160px);
    }

    .l-pb-xxl-l {
      padding-bottom: func.calc-rem(180px);
    }
  }
}
