/**
 * Layouts: width
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.l-w-r {
  width: func.calc-rem(80px);
}

.l-w-100-pc {
  @extend %u-width-100;
}

.l-w-all {
  @include mix.breakpoint-min(800) {
    &[data-width="50-pc"] > * {
      width: 50%;
    }
  }
}

@each $k, $v in map.get(con.$vars, "max-widths") {
  .l-mw-#{$k} {
    @extend %u-width-100;

    max-width: func.calc-rem($v);
  }
}
