/**
 * Components - Nav Styles
 */

/* Imports */

@use "sass:map";
@use "sass:color";
@use "@alanizcreative/formation/lib/config/config" as con;
@use "@alanizcreative/formation/lib/utils/utils" as util;
@use "@alanizcreative/formation/lib/components/Nav/Nav";
@use "@alanizcreative/formation/lib/components/NavIcon/NavIcon";
@use "@alanizcreative/formation/lib/components/NavIcon/NavIconOne";

/* Container */

.c-nav {
  --nav-bg: var(--ht-hero-over-bg);
  --nav-accent: url("../../svg/underline-thin-dark.svg");
  --logo-scale: 1;
  --logo-origin: 50% 50%;
  --logo-opacity: 1;
  --logo-delay: 300ms;
  --mark-opacity: 0;
  --mark-delay: 0ms;
  --btn-origin: 50% 50%;
  --btn-scale: 1;
  --swoop-x: -5%;
  --swoop-trans: opacity 400ms ease 410ms, transform 400ms ease 10ms;
  --overflow-trans: visibility 0ms ease 400ms, opacity 400ms ease 10ms;
  --overflow-opacity: 0;
  --weight-0: 600;
  --size-0: var(--ht-h1-s);
  --x-offset: var(--ht-container-padding);
  --ht-outline-offset: 0rem;

  transform-origin: 0 0;
  z-index: map.get(con.$z-index, "nav");
  height: var(--ht-nav-height);
  color: var(--nav-color);

  &::before {
    transition: background var(--ht-duration) var(--ht-easing);
    background: var(--nav-bg);
  }

  & > div {
    transform-origin: 0 50%;
  }

  &[data-nav-scale="down"] {
    --ht-outline-color: var(--ht-background-base);
    --nav-bg: var(--ht-foreground-light);
    --nav-color: var(--ht-background-base);
    --logo-scale: 0.66;
    --logo-origin: 0 50%;
    --logo-opacity: 0;
    --logo-delay: 0ms;
    --mark-opacity: 1;
    --mark-delay: 200ms;
    --btn-origin: 100% 50%;
    --btn-scale: 0.75;
  }

  &[data-nav-overflow="true"] {
    --item-x: #{util.calc-rem(-20px)};
    --item-opacity: 0;
  }

  &[data-nav-scale="down"],
  &[data-nav-open="true"] {
    --ht-logo-color: var(--ht-logo-light);
    --nav-accent: var(--ht-nav-accent-light);
  }

  &[data-nav-open="true"] {
    --nav-color: var(--ht-background-base);
    --item-x: 0;
    --item-opacity: 1;
    --swoop-x: 0;
    --swoop-trans: opacity 400ms ease 10ms, transform 400ms ease;
    --overflow-trans: visibility 0ms ease 10ms, opacity 400ms ease;
    --overflow-opacity: 1;
  }

  @include util.breakpoint-min("container") {
    --x-offset: calc(50vw - var(--ht-container) / 2);
  }

  #ht .ht & {
    position: fixed;
  }
}

/* Logo */

.c-nav__logo {
  margin-right: var(--ht-s);
  transform-origin: var(--logo-origin);
  transform: scale(var(--logo-scale));

  img:first-child {
    opacity: var(--logo-opacity);
    transition-delay: var(--logo-delay);
  }

  img:last-child {
    opacity: var(--mark-opacity);
    transition-delay: var(--mark-delay);
  }
}

/* List */

.c-nav__list,
.c-nav__column {
  --accent-svg: var(--nav-accent);
}

.c-nav__list {
  --size-0: #{util.calc-rem(19px)};
  --accent-padding: #{util.calc-rem(2px)};
  --accent-height: #{util.calc-rem(4px)};
}

/* Item */

.c-nav__item[data-depth="0"] {
  transform: translateX(var(--item-x, 0));
  transition-property: transform, opacity;
  transition-timing-function: var(--ht-easing);
  transition-delay: var(--ht-nav-item-delay);
  transition-duration: 600ms, 1000ms;
  opacity: var(--item-opacity, 1);
}

/* Link */

.c-nav__link[data-depth="0"] {
  font-size: var(--size-0);
  line-height: var(--ht-line-height-snug);
  font-variation-settings: "wght" var(--weight-0);
  color: var(--nav-color, var(--ht-foreground-base));
}

.current-menu-parent a,
.current-menu-item a {
  --accent-opacity: 1;
}

/* Button */

.c-nav__button {
  transform-origin: var(--btn-origin);
  transform: scale(var(--btn-scale));
  color: var(--nav-color);
}

.c-nav__close,
.c-nav__home {
  top: calc(((var(--ht-nav-height) * var(--ht-nav-scale)) - var(--ht-s)) / 2);
}

.c-nav__close {
  right: var(--x-offset);
}

[data-tf-tabindex] {
  pointer-events: none;
  user-select: none;
}

.c-nav-icon {
  transform-origin: 100% 50%;
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
  background: currentcolor;
}

/* Overflow */

.c-nav__overflow {
  transform-origin: 0 0;
  top: calc(-1 * var(--ht-nav-y));
}

/* Overflow - column */

.c-nav__column {
  --weight-0: var(--ht-font-weight-extrabold);
  --accent-height: clamp(0.36rem, 9%, 0.48rem);
  --accent-padding: 0.5%;
}

/* Overflow - home */

.c-nav__home {
  left: var(--x-offset);

  [data-nav-scale="down"] & {
    width: var(--ht-s);
  }
}

/* Overflow - scroll */

.c-nav__scroll {
  --y-offset: (var(--ht-nav-scale) * var(--ht-nav-height));

  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - var(--y-offset));
  margin-top: calc(var(--y-offset));
  padding:
    var(--ht-s)
    var(--ht-container-padding)
    calc(var(--ht-s) * 2)
    var(--ht-container-padding);
  mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black calc(var(--ht-xs) * 2),
      black calc(100% - (var(--ht-xs) * 2)),
      transparent
    );
  mask-size: 100%;
  mask-position: 0 0;
  mask-repeat: no-repeat;
}

/* Overflow - overlay */

.c-nav__overlay {
  background-color: var(--ht-primary-base);
}

/* Overflow - background swoop */

.c-nav__swoop {
  --bg: var(--ht-foreground-muted);

  transform: translateX(var(--swoop-x));
  transition: var(--swoop-trans);
  opacity: var(--overflow-opacity);
  color: var(--bg);

  > div {
    background: var(--bg);
    width: 60vw;
  }

  svg {
    transform: translateX(100%) rotate(180deg) scaleX(-1);
    max-width: util.calc-rem(300px);
    width: 50%;
  }
}

/* Overflow - transition */

.c-nav__overlay,
.c-nav__overflow {
  transition: var(--overflow-trans);
  opacity: var(--overflow-opacity);
}
