/**
 * Components - Nav Styles
 */

/* Imports */

@use "sass:map";
@use "sass:color";
@use "@alanizcreative/formation/lib/config/config" as con;
@use "@alanizcreative/formation/lib/utils/utils" as util;
@use "@alanizcreative/formation/lib/components/Nav/Nav";
@use "@alanizcreative/formation/lib/components/NavIcon/NavIcon";
@use "@alanizcreative/formation/lib/components/NavIcon/NavIconOne";

/* Shift */

@keyframes e-shift {
  0% {
    transform: translateX(-1.25rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Container */

.c-nav {
  --nav-bg: var(--ht-hero-over-bg);
  --nav-accent: url("../../svg/underline-thin-dark.svg");
  --nav-font-size: var(--ht-h1-s);
  --nav-swoop-trans: opacity 400ms ease 410ms, transform 400ms ease 10ms;
  --nav-modal-trans: visibility 0ms ease 400ms, opacity 400ms ease 10ms;
  --ht-outline-offset: 0rem;

  transform-origin: 0 0;
  z-index: map.get(con.$z-index, "nav");
  height: var(--ht-nav-height);
  color: var(--nav-color);

  &::before {
    transition: background var(--ht-duration) var(--ht-easing);
    background: var(--nav-bg);
  }

  & > div {
    transform-origin: 0 50%;
  }

  &[data-nav-scale="down"] {
    --ht-outline-color: var(--ht-background-base);
    --nav-bg: var(--ht-foreground-light);
    --nav-color: var(--ht-background-base);
    --nav-logo-scale: 0.66;
    --nav-logo-origin: 0 50%;
    --nav-logo-opacity: 0;
    --nav-logo-delay: 0ms;
    --nav-mark-opacity: 1;
    --nav-mark-delay: 200ms;
    --nav-btn-origin: 100% 50%;
    --nav-btn-scale: 0.75;
  }

  &[data-nav-scale="down"],
  &[data-nav-open="true"] {
    --ht-logo-color: var(--ht-logo-light);
    --nav-accent: var(--ht-nav-accent-light);
  }

  &[data-nav-open="true"] {
    --nav-color: var(--ht-background-base);
    --nav-swoop-x: 0;
    --nav-swoop-trans: opacity 400ms ease 10ms, transform 400ms ease;
    --nav-modal-trans: visibility 0ms ease 10ms, opacity 400ms ease;
    --nav-modal-opacity: 1;
  }

  @include util.breakpoint-min("container") {
    --nav-x-offset: calc(50vw - var(--ht-container) / 2);
  }

  #ht .ht & {
    position: fixed;
  }
}

/* Logo */

.c-nav__logo {
  margin-right: var(--ht-s);
  transform-origin: var(--nav-logo-origin, 50% 50%);
  transform: scale(var(--nav-logo-scale, 1));

  img:first-child {
    opacity: var(--nav-logo-opacity, 1);
    transition-delay: var(--nav-logo-delay, 200ms);
  }

  img:last-child {
    opacity: var(--nav-mark-opacity, 0);
    transition-delay: var(--nav-mark-delay, 0ms);
  }
}

/* Row */

.c-nav__row {
  --nav-caret: var(--ht-3xs);
  --nav-caret-left: var(--ht-4xs);
}

/* List */

.c-nav__list,
.c-nav__column {
  --accent-svg: var(--nav-accent);
}

.c-nav__list {
  --nav-font-size: #{util.calc-rem(19px)};
  --nav-item-margin: var(--ht-4xs);
  --accent-padding: #{util.calc-rem(2px)};
  --accent-height: #{util.calc-rem(4px)};

  .c-nav__row &[data-depth="0"] {
    --nav-font-size: var(--ht-t-s);
    --ht-outline-color: var(--ht-primary-base);
    --ht-prop: visibility, opacity;
    --ht-duration: 200ms;
    --ht-delay: 0ms;
    --accent-svg: none;
    --overflow: visible;
    --h: auto;

    position: absolute;
    background: var(--ht-background-light);
    padding: var(--ht-5xs) var(--ht-2xs) var(--ht-3xs) var(--ht-2xs);
    margin: var(--ht-2xs) 0 0 calc(-1 * var(--ht-3xs));
    color: var(--ht-foreground-base);
    border-radius: var(--ht-4xs);
    box-shadow: 0 0 var(--ht-4xs) 0 var(--ht-foreground-muted);
    opacity: var(--nav-opacity, 0);

    &::before {
      content: '';
      position: absolute;
      height: var(--ht-2xs);
      top: calc(-1 * var(--ht-2xs));
      width: 100%;
    }
  }
}

/* Item */

.c-nav__item {
  line-height: 1;
  margin: var(--nav-item-margin, 0) 0;

  &:last-child {
    --nav-item-margin: 0;
  }

  &[data-collapsible-expanded="true"] {
    --nav-caret-rotate: 180deg;
    --nav-opacity: 1;
  }
}

/* Shift */

.c-nav__shift[data-depth="0"] {
  [data-nav-open="true"] & {
    opacity: 0;
    animation: 400ms ease var(--ht-nav-item-delay, 0ms) e-shift forwards;
  }
}

/* Link */

.c-nav__link {
  --link_hover_color: var(--nav-color);

  display: inline-flex;
  font-size: var(--nav-font-size, var(--ht-t-m));
  color: var(--nav-color, var(--ht-foreground-base));
  line-height: var(--nav-line-height, var(--ht-line-height-snug));

  &[data-depth="0"] {
    font-variation-settings: "wght" var(--nav-weight, 600);
  }

  &[data-depth="1"] {
    --nav-line-height: 1.5;
  }

  &[data-depth="1"]::after {
    content: none;
  }
}

.current-menu-parent a,
.current-menu-item a {
  --accent-opacity: 1;
}

/* Collapsible */

.c-nav__toggle {
  margin-left: var(--nav-caret-left, var(--ht-2xs));
}

.c-nav__caret {
  width: var(--nav-caret, var(--ht-xs));
  height: var(--nav-caret, var(--ht-xs));
  transform: rotate(var(--nav-caret-rotate, 0deg));
}

/* Button */

.c-nav__button {
  transform-origin: var(--nav-btn-origin, 50% 50%);
  transform: scale(var(--nav-btn-scale, 1));
  color: var(--nav-color);
}

.c-nav__close,
.c-nav__home {
  top: calc(((var(--ht-nav-height) * var(--ht-nav-scale)) - var(--ht-s)) / 2);
}

.c-nav__close {
  right: var(--nav-x-offset, var(--ht-container-padding));
}

[data-tf-tabindex] {
  pointer-events: none;
  user-select: none;
}

.c-nav-icon {
  transform-origin: 100% 50%;
}

.c-nav-icon__top,
.c-nav-icon__middle,
.c-nav-icon__bottom {
  background: currentcolor;
}

/* Overflow */

.c-nav__overflow {
  transform-origin: 0 0;
  top: calc(-1 * var(--ht-nav-y));
}

/* Overflow - column */

.c-nav__column {
  --nav-weight: var(--ht-font-weight-extrabold);
  --accent-height: clamp(0.36rem, 9%, 0.48rem);
  --accent-padding: 0.5%;
}

/* Overflow - home */

.c-nav__home {
  left: var(--nav-x-offset);

  [data-nav-scale="down"] & {
    width: var(--ht-s);
  }
}

/* Overflow - scroll */

.c-nav__scroll {
  --nav-y-offset: (var(--ht-nav-scale) * var(--ht-nav-height));

  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - var(--nav-y-offset));
  margin-top: calc(var(--nav-y-offset));
  padding:
    var(--ht-s)
    var(--ht-container-padding)
    calc(var(--ht-s) * 2)
    var(--ht-container-padding);
  mask-image:
    linear-gradient(
      to bottom,
      transparent,
      black calc(var(--ht-xs) * 2),
      black calc(100% - (var(--ht-xs) * 2)),
      transparent
    );
  mask-size: 100%;
  mask-position: 0 0;
  mask-repeat: no-repeat;
}

/* Overflow - overlay */

.c-nav__overlay {
  background-color: var(--ht-primary-base);
}

/* Overflow - background swoop */

.c-nav__swoop {
  --nav-bg: var(--ht-foreground-muted);

  transform: translateX(var(--nav-swoop-x, -5%));
  transition: var(--nav-swoop-trans);
  opacity: var(--nav-modal-opacity);
  color: var(--nav-bg);

  > div {
    background: var(--nav-bg);
    width: 60vw;
  }

  svg {
    transform: translateX(100%) rotate(180deg) scaleX(-1);
    max-width: util.calc-rem(300px);
    width: 50%;
  }
}

/* Overflow - transition */

.c-nav__overlay,
.c-nav__overflow {
  transition: var(--nav-modal-trans);
  opacity: var(--nav-modal-opacity, 0);
}
