/**
 * Layouts - Margin Styles
 */

#ht .ht {
  /* None */

  .l-m-0 {
    margin: 0;
  }

  .l-m-0-all * {
    margin: 0;
  }

  .l-mb-0-all * {
    margin-bottom: 0;
  }

  /* Auto */

  .l-m-auto {
    margin: auto;
  }

  .l-ml-auto {
    margin-left: auto;
  }

  .l-mr-auto {
    margin-right: auto;
  }

  .l-mb-auto {
    margin-bottom: auto;
  }

  .l-mt-auto {
    margin-top: auto;
  }

  /* Right */

  .l-mr-5xs {
    margin-right: var(--ht-5xs);
  }

  /* Bottom */

  .l-mb-5xs {
    margin-bottom: var(--ht-5xs);
  }

  .l-mb-4xs {
    margin-bottom: var(--ht-4xs);
  }

  .l-mb-3xs,
  .l-mb-3xs-all > * {
    margin-bottom: var(--ht-3xs);
  }

  .l-mb-2xs,
  .l-mb-2xs-all > * {
    margin-bottom: var(--ht-2xs);
  }

  .l-mb-xs,
  .l-mb-xs-all > * {
    margin-bottom: var(--ht-xs);
  }

  .l-mb-s,
  .l-mb-s-all > * {
    margin-bottom: var(--ht-s);
  }

  .l-mb-m {
    margin-bottom: var(--ht-m);
  }

  .l-mb-3xs-all,
  .l-mb-2xs-all,
  .l-mb-xs-all,
  .l-mb-s-all {
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

/* Breakout */

.l-m-full {
  margin-right: -50vw;
  margin-left: -50vw;
}
