/**
 * Layouts - Position Styles
 */

#ht .ht {
  .l-relative {
    position: relative;
  }

  .l-absolute,
  .l-before::before {
    position: absolute;
  }

  .l-left-0,
  .l-before::before {
    left: 0;
  }

  .l-right-0,
  .l-before::before {
    right: 0;
  }

  .l-top-0,
  .l-before::before {
    top: 0;
  }

  .l-bottom-0,
  .l-before::before {
    bottom: 0;
  }

  .l-before::before {
    content: "";
  }
}

.l-fixed {
  position: fixed;
}

.l-zi--1 {
  z-index: -1;
}

.l-zi-0 {
  z-index: 0;
}

.l-zi-1 {
  z-index: 1;
}

.l-zi-2 {
  z-index: 2;
}
