/**
 * Objects - Button Styles
 */

#ht .ht {
  a::after,
  a::before {
    color: inherit;
  }

  .fusion-button {
    --blend-mode: multiply;

    font-weight: var(--ht-font-weight-extrabold);
    line-height: var(--ht-line-height-snug);
    position: relative;
    transition: none;

    .fusion-button-text {
      position: relative;
      display: block;
      color: inherit;
      transform: scale(1) translateZ(0);
      transition: transform var(--ht-duration) var(--ht-easing);
    }

    &.t-bg-foreground-base {
      --blend-mode: hard-light;
    }

    &.button-medium {
      font-size: var(--ht-t-m);
      padding: var(--ht-3xs) var(--ht-xs);
    }

    &.button-medium-l {
      font-size: var(--ht-h6);
    }

    &.button-outline {
      color: inherit;
      background-color: transparent;
      border: var(--ht-border-width) solid currentcolor;
      padding: var(--ht-4xs) var(--ht-2xs);

      &.t-bg-inherit {
        background-color: inherit;
      }
    }

    &.button-small {
      font-weight: var(--ht-font-weight-bold);
      font-size: var(--ht-t-s);
      padding: var(--ht-5xs) var(--ht-3xs);
    }

    &.button-large {
      font-size: var(--ht-h5);
    }

    &.button-xlarge {
      font-size: var(--ht-h4);
    }

    &.button-large,
    &.button-xlarge {
      padding: var(--ht-3xs) var(--ht-xs);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      background-color: currentcolor;
      border-radius: inherit;
      mix-blend-mode: var(--blend-mode);
      transition: opacity var(--ht-duration) var(--ht-easing);
    }

    &:hover,
    &:focus,
    &:active {
      &::before {
        opacity: 0.2;
      }

      .fusion-button-text {
        transform: scale(1.045) translateZ(0);
      }
    }

    &:focus-visible {
      outline: var(--ht-outline-width) solid var(--ht-outline-color);
      outline-offset: var(--ht-outline-offset);
    }
  }

  .t-light .fusion-button {
    background-color: var(--ht-background-base);
    color: var(--ht-foreground-base);

    &.button-outline {
      color: var(--ht-background-base);
      background-color: transparent;
    }
  }
}
