/**
 * Components: loader
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.c-loader {
	@extend %u-visibility-visible;
	@extend %u-opacity-1;

	background-color: rgba(func.get-color('background-base'), 0.9);
	transition: visibility 0ms ease 10ms, opacity 400ms ease;
	z-index: 10;

	&[data-hide] {
    @extend %u-visibility-hidden;
		@extend %u-opacity-0;

		transition: visibility 0ms ease 400ms, opacity 400ms ease 10ms;
  }

	> div {
		animation: a-scale 1s ease-out infinite;
	}

	@keyframes a-scale {
    0% {
			transform: scale(0);
    	opacity: 0;
    }

		50% {
			opacity: 1;
		}

    100% {
			transform: scale(1);
			opacity: 0;
    }
  }
}
