/**
 * Components: loader
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.c-loader {
  @extend %u-visibility-visible;
  @extend %u-opacity-1;

  background-color: rgba(func.get-color("background-base"), 0.9);
  transition: opacity 400ms ease;
  z-index: map.get(con.$z-index, "loader");

  &[data-hide] {
    @extend %u-visibility-hidden;
    @extend %u-opacity-0;
  }

  > div {
    animation: a-scale 1s ease-out infinite;
  }

  @keyframes a-scale {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
