/**
 * Components: logos
 */

/* Imports */

@use "../config/placeholders";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

#ht .ht .c-logos .fusion-column-wrapper {
	@extend %u-gap-r;
}

.c-logos {
  opacity: 0.5;
  justify-content: center;

	> div > div {
		@extend %u-margin-left-auto;
	}

  img {
    max-width: func.calc-rem(180px);
    max-height: func.calc-rem(50px);
    height: auto;
		width: auto;
  }

  @include mix.breakpoint-min(600) {
    justify-content: flex-end;
  }

  @include mix.breakpoint-min(1000) {
		flex-grow: 0;

		> div > div {
			margin-left: 0;
		}

    img {
      max-width: func.calc-rem(210px);
      max-height: func.calc-rem(70px);
    }
  }
}

.c-logos__m {
  img {
    max-height: func.calc-rem(40px);
  }

  @include mix.breakpoint-min(1000) {
    img {
      max-height: func.calc-rem(55px);
    }
  }
}

.c-logos__s {
  img {
    max-height: func.calc-rem(30px);
  }

  @include mix.breakpoint-min(1000) {
    img {
      max-height: func.calc-rem(40px);
    }
  }
}
