/**
 * Components: notice
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.c-notice {
  --ht-underline-c: #{func.get-color("primary-dark")};
  --link_color: #{func.get-color("primary-dark")};
  --primary_color: #{func.get-color("primary-dark")};

  z-index: map.get(con.$z-index, "notice");

  > div {
    padding: func.calc-rem(15px) func.calc-rem(30px) func.calc-rem(15px) func.calc-rem(20px);
    border-radius: func.calc-rem(10px);

    &::before {
      @extend %u-background-color-primary-light;

      opacity: 0.5;
    }
  }

  @include mix.breakpoint-min(1200) {
    #ht .ht #wrapper & * {
      font-size: func.calc-rem(16px);
    }
  }
}
