/**
 * Objects - Logo Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.o-logo {
  transition: transform var(--ht-duration) var(--ht-easing);

  @include util.fluid-size(
    width,
    util.calc-rem(130px) util.calc-rem(150px),
    "s" "l"
  );

  &[data-size="l"] {
    @include util.fluid-size(
      width,
      util.calc-rem(140px) util.calc-rem(180px),
      "s" "l"
    );
  }

  img {
    transition: opacity var(--ht-duration) var(--ht-easing);
  }

  [data-scale="down"] &,
  .t-text-light &,
  .c-nav[data-open] & {
    img {
      filter: invert(1) brightness(110%);
    }
  }
}
