/**
 * Layouts - Display Styles
 */

#ht .ht {
  .l-none {
    display: none;
  }

  .l-block {
    display: block;
  }

  .l-inline {
    display: inline;
  }

  .l-inline-block,
  .l-inline-block-a a {
    display: inline-block;
  }
}

.l-flex {
  display: flex;
}

.l-empty:empty {
  display: none;
}
