/**
 * Objects - Stat Styles
 */

/* Imports */

@forward "../../Config/Config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.o-stat {
  --top: 12.5%;
  --x: 12.5%;

  padding-top: var(--top);
  max-width: 50%;
  max-height: 100%;
}

.o-stat--left {
  border-top-right-radius: 100%;
  padding-right: var(--x);
  padding-left: util.calc-rem(1px);
  left: util.calc-rem(-1px);
}

.o-stat--right {
  text-align: right;
  border-top-left-radius: 100%;
  padding-left: var(--x);
  padding-right: util.calc-rem(1px);
  right: util.calc-rem(-1px);
}

.o-stat--wide {
  @include util.breakpoint-batch-add("tablet", (
    --top: 7.5%,
    --x: 7.5%,
  ));
}
