/**
 * Config
 */

/* Internal variables */

$color-error: #ba3c20;

/* Variables */

@use "@alanizcreative/formation/src/config" with (

  $colors: (
    primary: (
      base: #1B4ECC,
      light: #4B7FFF,
      dark: #0734A1,
    ),
    foreground: (
      base: #202020,
    ),
    background: (
      base: #F8F3F0,
      light: #FFFFFF,
      dark: #EBE6E4,
    ),
  ),

  $font-weights: (
    extrabold: 800,
    bold: 700,
    normal: 300,
  ),

  $container-padding: 20px,

  $containers: (
    def: 1150px,
  ),

  $breakpoints: (
    "400": 400px,
    "600": 600px,
    "660": 660px,
    "700": 700px,
    "768": 768px,
    "800": 800px,
    "900": 900px,
    "1000": 1000px,
    "1150": 1150px,
    "1190": 1210px,
    "1200": 1200px,
    "1300": 1300px,
    "1800": 1800px,
  ),

  $z-index: (
    skip-link: 205,
    nav: 185,
    loader: 210,
    notice: 200,
  ),

  $nav: (
    icon: (
      width: 60px,
      line-width: 2px,
      margin: 13px
    ),
    overlay: (
      duration: 400ms
    )
  ),

  $aspect-ratio-padding: (
    "0": 0%,
    "042": 4.2%,
    "66": 66.667%,
    "177": 177%,
  ),

  $transitions: (
    (
      def: (
        durations: (
          def: 400ms,
          m: 600ms,
          s: 1000ms,
        ),
        timing-function-cubic: "cubic-bezier(0.65, 0, 0.35, 1)"
      )
    )
  ),

  $vars: (
    color-error: $color-error,
    wp-selector: ".wp-editor",
    max-widths: (
      l: 1100px,
      m: 660px,
      r: 400px,
      s: 300px,
    ),
  ),

  $placeholders: (
    (
      "name": "border-radius-5",
      "prop": (
        border-radius: 0.3125rem
      ),
    ),
    (
      "name": "color-error",
      "prop": (
        color: var(--ht-error-c)
      ),
    ),
    (
      "name": "background-color-error",
      "prop": (
        background-color: rgba($color-error, 0.2)
      ),
    ),
    (
      "name": "error-padding",
      "prop": (
        padding: 0.3125rem 0.625rem
      ),
    ),
    (
      "name": "notice-padding",
      "prop": (
        padding: 1rem 1.25rem
      ),
    ),
    (
      "name": "grayscale",
      "prop": (
        filter: grayscale(100%)
      ),
    ),
  ),

);
