/**
 * Objects: dot
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.o-dots {
  max-width: 100vw;
}

.o-dot {
  span {
    width: func.calc-rem(12px);
    height: func.calc-rem(12px);
    background: currentcolor;
    opacity: 0.3;
    transition: opacity 200ms ease, transform 200ms ease;
  }

  [role="tab"][aria-selected="true"] span {
    @extend %u-color-primary-base;

    opacity: 1;
    transform: scale(1.33);
  }
}
