/**
 * Objects: slider
 */

/* Imports */

@use "sass:map";
@use "sass:math";
@use "@alanizcreative/formation/src/config" as con;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

$container: func.calc-rem(map.get(con.$containers, "def"));

.o-slider {
  --height: auto;
  --snap-type: x mandatory;
  --container-p: 1.25rem;
  --slide-gap: 1.25rem;

  height: var(--height);
  width: 100vw;

  @include mix.breakpoint-min(1000) {
    --slide-gap: 2.5rem;
  }
}

.o-slider__track {
  overflow-x: auto;
  scroll-snap-type: var(--snap-type);
  -webkit-overflow-scrolling: touch;
  padding-left: var(--slide-gap);

  @include mix.breakpoint-min(1190) {
    margin-right: calc(var(--slide-gap) * -1);
  }
}

.o-slider__h {
  @include mix.breakpoint-min(1190) {
    max-width: func.calc-rem(1190px);
  }
}

.o-slider__item {
  --width: calc(100% - var(--ht-scrollbar-w) - var(--container-p) * 2);

  @include mix.breakpoint-min(600) {
    --width: calc(50vw - (var(--ht-scrollbar-w) / 2) - var(--container-p));
  }

  @include mix.breakpoint-min(900) {
    --width: calc(33.3333vw - (var(--ht-scrollbar-w) / 3) - (var(--container-p) * 0.6667));
  }

  @include mix.breakpoint-min(1190) {
    --width: 33.3333%;
  }
}

.o-slider__group {
  --width: calc(100vw - var(--ht-scrollbar-w) - var(--container-p) * 2);

  @include mix.breakpoint-min(1190) {
    --width: 100%;
  }
}

.o-slider__item,
.o-slider__group {
  scroll-snap-align: start;
  width: var(--width);

  #ht .ht &:focus {
    outline: 0; // Move to view
  }
}

.o-slider__inner {
  width: 100%;

  @include mix.breakpoint-min(600) {
    width: 50%;
  }

  @include mix.breakpoint-min(900) {
    width: 33.3333%;
  }
}

.o-slider__view {
  --x: var(--container-p) - var(--ht-flex-gap);

  left: calc(var(--x));

  #ht .ht:not([data-using-mouse]) .o-slider__item:focus &::before,
  #ht .ht:not([data-using-mouse]) .o-slider__group:focus &::before {
    border: func.calc-rem(4px) solid var(--ht-outline-c);
  }

  #ht .ht:not([data-using-mouse]) .o-slider__group:focus &::before {
    left: var(--ht-flex-gap);
    top: var(--ht-flex-gap);
  }

  @include mix.breakpoint-min(1190) {
    --x: ((100vw - var(--ht-scrollbar-w)) / 2) - #{math.div($container, 2)} - var(--ht-flex-gap);
  }
}

.o-slider__offset {
  #ht #main & {
    padding: 0 0 0 calc(var(--container-p) + var(--container-p) - var(--ht-flex-gap) + var(--ht-scrollbar-w));

    @include mix.breakpoint-min(1190) {
      padding: 0 0 0 calc((50vw - #{math.div($container, 2)}) * 2);
    }
  }
}
