/**
 * Objects: underline
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.o-underline a,
.o-underline-r a,
a.o-underline-r span {
  transition: text-decoration-color 300ms ease;
  text-decoration: underline;
  text-decoration-thickness: var(--ht-underline-w);
  text-underline-offset: 0.3125rem;
}

.o-underline a {
  text-decoration-color: var(--ht-underline-c);
}

.o-underline-r a,
a.o-underline-r span {
  text-decoration-color: transparent;
}

.o-underline a:hover,
.o-underline a:active,
.o-underline a:focus {
  text-decoration-color: transparent;
}

.o-underline-r a:hover,
.o-underline-r a:active,
.o-underline-r a:focus,
a.o-underline-r:hover span,
a.o-underline-r:active span,
a.o-underline-r:focus span {
  text-decoration-color: var(--ht-underline-c);
}
