/**
 * Focus
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

*:focus {
  body:not([data-using-mouse]).ht &,
  body:not([data-using-mouse]).ht &.o-radio__input ~ label,
  body:not([data-using-mouse]).ht &.o-checkbox__input ~ label {
    outline: func.calc-rem(4px) solid var(--ht-outline-c);
    outline-offset: var(--ht-outline-o);
  }

  body[data-using-mouse].ht & {
    outline: 0;
  }
}
