/**
 * Theme styles
 */

/* Config */

@forward "config";

/* Base */

@use "@alanizcreative/formation/src/base";
@use "@alanizcreative/formation/src/base/inputs-reset";
@use "base" as b;
@use "base/focus";

/* Utility classes */

@use "utils/classes";

/* Layouts */

@use "@alanizcreative/formation/src/layouts/flex" as f;
@use "layouts/flex";
@use "layouts/padding";
@use "layouts/margin";
@use "layouts/width";
@use "layouts/height";
@use "layouts/breakout";
@use "layouts/column";

/* Components */

@use "components/nav/index";
@use "components/hero";
@use "components/logos";
@use "components/loader";
@use "components/notice" as n;

/* Objects */

@use "@alanizcreative/formation/src/objects/aspect-ratio";
@use "@alanizcreative/formation/src/objects/collapsible";
@use "objects/logo";
@use "objects/swoop";
@use "objects/overlap";
@use "objects/underline";
@use "objects/accent";
@use "objects/border";
@use "objects/form";
@use "objects/stat";
@use "objects/flush";
@use "objects/notice";
@use "objects/tabs";
@use "objects/slider";
@use "objects/dot";
@use "objects/overflow";
@use "objects/device";
@use "objects/rounded";

/* Themes */

@use "themes";

/* Overrides */

@use "overrides/avada";
@use "overrides/formation";
@use "overrides/vendor";

/* Remove animations */

@media (prefers-reduced-motion: reduce) {
  html#ht {
    scroll-behavior: auto;

    .ht *,
    .ht *::before,
    .ht *::after,
    .ht .u-pb-hover,
    .ht .fusion-wrapper *,
    .ht .fusion-button::before,
    .ht .fusion-button .fusion-button-text,
    .ht .fusion-social-networks a i::before {
      transition: none;
      transition-timing-function: linear;
      animation-duration: 0.001ms;
      animation-iteration-count: 1;
      transition-duration: 0.001ms;
    }

    .c-nav__item {
      transition-delay: 0ms;
    }

    [role="tabpanel"] {
      animation: none;
    }
  }
}
